.searchbar {
    margin: 1.25% 1.25% 0% 1.25%;
}

.App {
    margin: 1.25% 1.25% 1.25% 1.25%;
}

.animebox {
    margin: 1.25% 1.25% 1.25% 1.25%;
}

.dropdownfilter {
    margin: 1.25% 1.25% 1.25% 1.25%;
}